*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 70px;
    width: 100%;
    padding: 15px;
    display:flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgb(196, 165, 191); 
    z-index: 1000;

}
main{
    display: flex;
    justify-content: center;
}
.box-form{
    margin: 30px;
height: 500px;
width: 80%;
border: 2px solid gray;
border-radius: 30px;
background-color: aquamarine;
display: flex;
flex-direction: column;
flex-wrap: wrap;

}
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
.fristbox{
    height: 40px;
    width: 40%;
    background-color: rgba(194, 240, 101, 0.578);
    border-radius: 10px;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Croissant One', cursive;
    
}
.p1{
   margin-left: 20px;
    padding: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
.input{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30px;
    font-family: 'Oswald', sans-serif;
}
.button{
    display: flex;
    flex-direction: column;
    width: 40%;


}
button{
    background-color: antiquewhite;
    margin: 10px;
}
.fristbox::selection{
    background-color: rgb(32, 32, 15);
    text-decoration: line-through;
}
button:hover {
    background-color: rgb(87, 239, 102);
    border-radius: 0.5rem;
    border: 2px solid rgb(104, 190, 51);
    cursor: pointer;
    transition: all 1s;

  }


.input:hover{
    
    transform:translate(180px);
    transition: all 0.5s ease-in-out;
}

footer{
    display: flex;
    justify-content: center;
    


}

.footer{
    height: 150px;
    width: 80%;
    /* background-color: ; */
    border: 2px solid green;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}
.box1{
    
    height: 100px;
    width: 100px;
    background-color: rgba(104, 245, 104, 0.548);
    border: 2px solid rgb(147, 240, 147);
    display: flex;
    justify-content: center;

}
.box1:hover{
    transform: scale( 1.2 , 1.2 );
    transition: all 3s;
    font-size: 36px;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: rgba(104, 245, 104, 0.548);
    border: 2px solid rgb(147, 240, 147);
    display: flex;
    justify-content: center;
}
.box2:hover{
transform: rotate(40deg) scale(0.5);
font-size: 36px;

}
.box3{height: 100px;
    width: 100px;
    background-color: rgba(104, 245, 104, 0.548);
    border: 2px solid rgb(147, 240, 147);
    display: flex;
    justify-content: center;
}                                                                                                                                                            

.box3:hover{
    transition: all 2s steps(5);
    transition: all 5s ease-in;
    font-size: 36px;
    justify-content: center;
}

.box4{
    height: 100px;
    width: 100px;
    background-color: rgba(104, 245, 104, 0.548);
    border: 2px solid rgb(147, 240, 147);
    display: flex;
    font-size: 36px;
    justify-content: center;
    
}
.box4:hover{
background-color: rgb(240, 32, 8);
transition: all 5s ease-out;
transform: translate(20px);
}
